<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="mb-0">Employee List</h3>

  <button
    type="button"
    class="btn btn-primary"
    (click)="goToAddEmployee()"
  >
    Add Employee
  </button>
</div>

  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Bangla Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Job Type</th>
        <!-- <th>Marital Status</th> -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let emp of employees(); let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ emp.employeeName }}</td>
        <td>{{ emp.employeeNameBangla }}</td>
        <td>{{ emp.departmentName }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.contactNo }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.jobType }}</td>
        <!-- <td>{{ emp.maritalStatus }}</td> -->
      </tr>

      <tr *ngIf="employees.length === 0">
        <td colspan="9" class="text-center text-muted">
          No employees found
        </td>
      </tr>
    </tbody>
  </table>
</div>
